:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Cyan-trans: hsl(178, 100%, 50%, 0.5);
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Outfit;
    font-size: 1.125rem;
    background-color: var(--Very-dark-blue-main-BG);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--Soft-blue);
    font-weight: 300;
}

.container {
   
    background-color: var(--Very-dark-blue-card-BG);
    border-radius: 1em;
    padding: 1.2em;
}

.card {
    width: 18rem;
}

.imgOverlay {
    width: 100%;
    min-height: 18rem;
    background-image: url(images/image-equilibrium.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1em;
    position: relative;
}

.imgOverlay:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-image: url(images/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--Cyan-trans);
    overflow: hidden;
    border-radius: 1em;
}

.card__content > h2 {
    color: var(--White);
    font-weight: 400;
}

.card__content> h2:hover {
    color: var(--Cyan);
    cursor: pointer;
}

.card__content > p {
    line-height: 1.6em;
}

.card__stats {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 1em;
    border-bottom: 0.1px solid var(--Very-dark-blue-line);

}

.card__stats > li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: .7em;
}


.stats__img {
    margin-right: .5em;
}

.card__stats > .stats__amount {
    color: var(--Cyan);
}

.created-by {
    height: 2em;
    display: flex;
    
}

.created-by__img {
    border-radius: 50%;
    border: 1px solid var(--White);
    margin-right: 1em;
}

.created-by > p {
    align-self: center;
}

.created-by__contrasted {
    color: var(--White);
}

.created-by__contrasted:hover {
    color: var(--Cyan);
    cursor: pointer;
}

